<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712254167267-5bs43k7su0mapucl4d064dvf6fg59q8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712254167267-5bs43k7su0mapucl4d064dvf6fg59q8i</string>
	<key>API_KEY</key>
	<string>AIzaSyD7xuYrY8QyGBFclaio6NW52LRfzfmB520</string>
	<key>GCM_SENDER_ID</key>
	<string>712254167267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KariGroszewska.Taskaroo</string>
	<key>PROJECT_ID</key>
	<string>taskaroo-c977a</string>
	<key>STORAGE_BUCKET</key>
	<string>taskaroo-c977a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712254167267:ios:d085706c59cc172cae0dd6</string>
</dict>
</plist>